[package]
name = "bobadojo-apis"
version = "0.1.1"
edition = "2021"

[dependencies]
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"] }
prost = "0.12"
tonic = "0.11.0"

[features]
default = []
## @@protoc_insertion_point(features)
